<div class="switch-dashboard-container">
  <h3>{{name}}</h3>
  <p id="descripcion">{{description}}</p>

  <div class="icon-info" id="info">
    <a href="#view-switch?private_id={{private_id}}"><i class="fa-solid fa-circle-info"></i></a>
  </div>

    <div class="cambiarEstado">
        {{#if status}}
            <button type="submit" class="btn-cambiarEstado" id="btn-apagar" item="{{private_id}}">{{i18n "Turn Off"}}</button>
        {{else}}
            <button type="submit" class="btn-cambiarEstado" id="btn-encender" item="{{private_id}}">{{i18n "Turn On"}}</button>
        {{/if}}
    </div>

</div>