<div style="background-color: transparent;">
  <div class="login">
      <div id="imagen">
          <img id="login-img" src="/spabinarify/front/img/binarify.png" alt="Binarify">
      </div>
      {{#i18n}}{{loginError}}{{/i18n}}<br>

      <div class="login-form">
          <input class="login-input" type="text" id="login" placeholder="{{i18n 'Username'}}" required> 
          <input class="login-input" type="password" id="password" placeholder="{{i18n 'Password'}}" required>
          <input class="login-input" type="submit" id='loginbutton' value="{{i18n 'Login'}}">
      </div>

      <div id="div-registro">
          <a id="enlace-registro" href="#register">{{i18n 'Register'}}</a>
      </div>
  </div>
</div>