<div>
 <!-- Header con el logotipo de la página web -->
  <header>
      <div class="logo">
          <img src="/spabinarify/front/img/binarify.png" alt="Binarify">
      </div>
      <div class="menu-icon" id="menu-icon">
          <i class="fa-solid fa-bars"></i>
      </div>
  </header>

  <!-- Menu navegacion -->
  <div id="containerMenu">
    <div id="contMenu">
        <nav>
            <a href="#dashboard">{{i18n 'Dashboard'}}</a>
            <a href="#switchs">{{i18n 'Switches'}}</a>
            <a href="#suscriptions">{{i18n 'Suscriptions'}}</a>
            <a href="#add-switch">{{i18n 'Create'}}</a>
            <a id="logoutbutton" href="#login">{{i18n 'Log out'}}</a>
        </nav>
        <i id="cerrar" class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <!-- Contenido de la pagina -->
  <main class="main-content" id="maincontent">Loading...</main>

  <div id="modal-container" class="modal-container"></div>

  <footer id="footer">
    <div id="languagecontrol">Loading...</div>
  </footer>
</div>
