<div class="switches">
  <div id="barra">
      <h2>Switches</h2>
      {{#if user.isLogged}}
        <a href='#add-switch'>{{i18n 'Create switch'}}</a>
      {{/if}}
  </div>

  <div id="switches">
    {{#if switchs.length}}

      {{#each switchs}}
        <div fronty-component="SwitchRowComponent" key="{{id}}" model="switchs[{{@index}}]" id="item-{{id}}"></div>
      {{/each}}

    {{else}}
      <div id="mensaje">{{i18n 'No switches'}}</div>
    {{/if}}
  </div>
</div>