<div class="switch-container">
  <h3>{{name}}</h3>
  <p id="descripcion">{{description}}</p>

  
  {{#if status}}
     <p id="time" class="time">{{auto_off_time}} min</p>
  {{else}}
      <p id="fecha" class="time">{{last_time}}</p>
  {{/if}}

  <div class="uris">
      <p id="privada">{{i18n "Private URI"}}: <a href="#"></a>{{private_id}}</p>
      <p id="publica">{{i18n "Public URI"}}: <a href="#"></a>{{public_id}}</p>
  </div>

  {{#if status}}
    <button type="submit" class="btn-cambiarEstado" id="btn-apagar" item="{{id}}">{{i18n "Turn Off"}}</button>
  {{else}}
      <button type="submit" class="btn-cambiarEstado" id="btn-encender" item="{{id}}">{{i18n "Turn On"}}</button>
  {{/if}}

  <div class="eliminar">
      <button type="submit" class="btn-eliminar" id="btn-eliminar" item="{{id}}">{{i18n "Delete"}}</button>
  </div>
</div>