<div>
  {{i18n 'Title'}}:<input type="text" id="name" value="{{selectedSwitch.name}}">
  {{#i18n}}{{errors.title}}{{/i18n}}<br> {{i18n 'Content'}}:
  <br>
  <textarea id="description" rows="20" cols="80">{{selectedSwitch.description}}</textarea>
  {{#i18n}}{{errors.content}}{{/i18n}}
  <br>
  <input type="number" id="auto_off_time" value="{{selectedSwitch.auto_off_time}}"></input>
  <input type="button" id="savebutton" value="{{i18n 'Save'}}"></input>
</div>
