<div class="switches">
    <div id="barra">
        <h2>{{i18n 'Switch Details'}}</h2>
    </div>

    <!-- Mostramos el switch desde la base de datos -->
    <div id="switches">

        <div class="switch-container">
            <h3>{{selectedSwitch.nombre}}</h3>
            <p id="descripcion">{{selectedSwitch.descripcion}}</p>

            <!-- Mostrar tiempo o ultima vez -->
            {{#if selectedSwitch.status}}
              <p id="time" class="time">{{i18n 'Time'}}: {{selectedSwitch.auto_off_time}} min</p>
            {{else}}
              <p id="fecha" class="time">{{i18n 'Last Time'}}: {{selectedSwitch.last_time}}</p>
            {{/if}}

            <p id="owner">{{i18n 'Created by '}}: {{selectedSwitch.owner}}</p>

            <div id="boton">

                <!-- Mostrar botón de suscribir si el usuario esta logeado -->
                {{#if user.currentUser}}

                    {{#if selectedSwitch.subscribed}}
                        <button type="submit" name="submit" class="btn-suscribe" id="btn-unsuscribe" item="{{selectedSwitch.public_id}}">{{i18n 'Unsubscribe'}}</button>
                    {{else}}
                        <button type="submit" name="submit" class="btn-suscribe" id="btn-suscribe" item="{{selectedSwitch.public_id}}">{{i18n 'Subscribe'}}</button>
                    {{/if}}
                    
                {{/if}}

            </div>

        </div>

    </div>     

</div>