<div class="switches">
    <div id="barra-view">
        <h2>{{i18n 'Switch Details'}}</h2>
    </div>

    <!-- Mostramos el switch desde la base de datos -->
    <div id="switches">

        <div class="switch-view-container">
            <h3>{{selectedSwitch.nombre}}</h3>
            <p id="descripcion">{{selectedSwitch.descripcion}}</p>

            <!-- Mostrar tiempo o ultima vez -->
            {{#if selectedSwitch.status}}
              <p id="time" class="time">{{i18n 'Time'}}: {{selectedSwitch.auto_off_time}} min</p>
            {{else}}
              <p id="fecha" class="time">{{i18n 'Last Time'}}: {{selectedSwitch.last_time}}</p>
            {{/if}}

            <p id="owner">{{i18n 'Created by '}}: {{selectedSwitch.owner}}</p>

            <div id="boton">

                <!-- Mostrar botón de encender o apagar si el usuario es el dueño del switch -->
                {{#if selectedSwitch.status}}
                  <button type="submit" class="btn-view-cambiarEstado" id="btn-apagar" item="{{selectedSwitch.private_id}}">{{i18n "Turn Off"}}</button>
                {{else}}
                  <button type="submit" class="btn-view-cambiarEstado" id="btn-encender" item="{{selectedSwitch.private_id}}">{{i18n "Turn On"}}</button>
                {{/if}}

            </div>

        </div>

    </div>     

</div>